.map-responsive {
    overflow: hidden;
    position: relative;
    height: 450px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 5%;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5%;
    margin: auto;
   
}


 